website/var/recyclebin/*
website/var/system/*
website/var/tmp/*
website/var/log/*
website/var/versions/*
website/var/cache/*
website/var/backup/*
website/var/webdav/delete.dat
website/var/assets/*
.htaccess__
fichier sans titre
plugins/LpnPlugin/cli/.htaccess
website/var/config/system.xml

/pimcore/.htaccess
/website/var/config/system.php
/website/var/formbuilder/*
vendor/*
/website/var/composer
