@font-face {
    font-family: 'DINPro-Bold';
    src: url('fonts/DINPro-Bold.eot');
    src: url('fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), 
    	url('fonts/DINPro-Bold.woff') format('woff'), 
    	url('fonts/DINPro-Bold.ttf') format('truetype'), 
    	url('fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}

@font-face {
	font-family: 'DIN-Medium';
	src: url('fonts/din-medium-webfont.eot');
	src: url('fonts/din-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/din-medium-webfont.woff') format('woff'),
		url('fonts/din-medium-webfont.ttf') format('truetype'),
		url('fonts/din-medium-webfont.svg#din-medium-webfont.') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN-Regular';
	src: url('fonts/DINPro-Regular.eot');
	src: url('fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/DINPro-Regular.woff') format('woff'),
		url('fonts/DINPro-Regular.ttf') format('truetype'),
		url('fonts/DINPro-Regular.svg#DINPro-Regular.') format('svg');
	font-weight: normal;
	font-style: normal;
}
	
@font-face {
	font-family: 'HelveticaNeueRegular';
	src: url('fonts/helveticaneue-webfont.eot');
	src: url('fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/helveticaneue-webfont.woff') format('woff'),
		url('fonts/helveticaneue-webfont.ttf') format('truetype'),
		url('fonts/helveticaneue-webfont.svg#helveticaneue-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font-family-serif:      "DINPro-Bold", Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif:  "Helvetica Neue", "HelveticaNeueRegular", Arial, sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI";
$font-family-base:       $font-family-sans-serif;

$font-size-std : 16px;

body {
	font-size: $font-size-std;
	font-color: #575757;
	line-height : 1.2;
}
#logo {
	width: 100%;
	svg,img {
		width: 100%;
		height: auto;
	}
}

h1 {
	font-family: $font-family-serif; 
	font-size: 32px;
	line-height: 1.1;
	margin-top: 40px;
}

h2{
	font-family: "DIN-Medium"; 
	font-size: $font-size-std;
	border-bottom : 10px solid #CCCCCC;
	margin-bottom: 17px;
	line-height : 3;
	display: inline-block;
	width: 200px;
}



h4 {
	font-family: "DIN-Medium"; 
	font-size: $font-size-std;
	text-transform: uppercase;
}

.container-pdf {
	width : 1440px;
	margin: 0 auto 0 auto;
	background-color:#EEEEEE;
}
.page-header {
	padding: 45px 15px 0 60px;
	margin: 0;
	border-bottom: none;
	width: 100%;
}


.ft-col-1 {
	&:before {
		display: table;
		content: " "
	}
	float: left;
	width: 491px;
	overflow: hidden;
	clear: left;

}
.ft-col-2 {
	padding-top: 12px;
	&:before {
		display: table;
		content: " "
	}
	margin-left: 521px;
	&:after {
		clear: both;
	}
}

.dl-horizontal {
	dt,dd {
		//margin-bottom: 15px;
		font-family: "DIN-Regular"; 
		font-weight: 400;

	}
	dt {
		text-align: left;
		border-bottom : 5px solid #CCCCCC;
		line-height : 2.5;
		width: 200px;

		
	} 
	dd {
		padding-top: 10px;
		margin-left: 220px;
	}

}