@font-face {
    font-family: 'DINPro-Bold';
    src: url('fonts/DINPro-Bold.eot');
    src: url('fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), 
    	url('fonts/DINPro-Bold.woff') format('woff'), 
    	url('fonts/DINPro-Bold.ttf') format('truetype'), 
    	url('fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}

@font-face {
	font-family: 'DIN-Medium';
	src: url('fonts/din-medium-webfont.eot');
	src: url('fonts/din-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/din-medium-webfont.woff') format('woff'),
		url('fonts/din-medium-webfont.ttf') format('truetype'),
		url('fonts/din-medium-webfont.svg#din-medium-webfont.') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN-Regular';
	src: url('fonts/DINPro-Regular.eot');
	src: url('fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/DINPro-Regular.woff') format('woff'),
		url('fonts/DINPro-Regular.ttf') format('truetype'),
		url('fonts/DINPro-Regular.svg#DINPro-Regular.') format('svg');
	font-weight: normal;
	font-style: normal;
}
	
@font-face {
	font-family: 'HelveticaNeueRegular';
	src: url('fonts/helveticaneue-webfont.eot');
	src: url('fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/helveticaneue-webfont.woff') format('woff'),
		url('fonts/helveticaneue-webfont.ttf') format('truetype'),
		url('fonts/helveticaneue-webfont.svg#helveticaneue-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helveticaneue-light-webfont';
	src: url('fonts/helveticaneue-light-webfont.eot');
	src: url('fonts/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/helveticaneue-light-webfont.woff') format('woff'),
		url('fonts/helveticaneue-light-webfont.ttf') format('truetype'),
		url('fonts/helveticaneue-light-webfont.svg#helveticaneue-light-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueMedium';
	src: url('fonts/helveticaneue-medium-webfont.eot');
	src: url('fonts/helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/helveticaneue-medium-webfont.woff') format('woff'),
		url('fonts/helveticaneue-medium-webfont.ttf') format('truetype'),
		url('fonts/helveticaneue-medium-webfont.svg#helveticaneue-medium-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}



$font-family-serif:      "DINPro-Bold", Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif:  "Helvetica Neue", "HelveticaNeueRegular", Arial, sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI";
$font-family-base:       $font-family-sans-serif;

$font-size-std : 20px;

$grisclair : #f0f0f0;
$grisfonce : #c6c6c6;

body {
	font-size: $font-size-std;
	//color: #575757;
	line-height : 1.2;
}
#logo {
	width: 100%;
	svg,img {
		width: 100%;
		height: auto;
	}
}

h1 {
	font-family: $font-family-serif; 
	font-size: 38px;
	line-height: 1.1;
	margin-top: 40px;

	&.display-1 {
		font-size: 64px;
	}
}

h2{
	font-family: "Helveticaneue-light-webfont"; 
	font-size: $font-size-std;
	border-bottom : 10px solid $grisfonce;
	margin-bottom: 17px;
	line-height : 3;
	display: inline-block;
	min-width: 240px;
	margin-bottom: 30px;
}



h4 {
	font-family: "Helveticaneue-light-webfont"; 
	font-size: 30px;
	//text-transform: uppercase;
}

.container-pdf {
	//width : 1440px;
	//margin: 0 auto 0 auto;
	//border: 1px solid #990000;
	//background-color:#FF0000;
}
/*.page-header {
	padding: 45px 15px 0 60px;
	margin: 0;
	border-bottom: none;
	width: 100%;
}*/


$headerHeight : 250px;
$col1Width : 890px;
$col2Width : 470px;
$colHeight : 1700px;

hr {
	height:20px;
	background-color:$grisfonce;
}

.ft-col-1 {
	&:before {
		display: table;
		content: " "
	}
	float: left;
	width: $col1Width;
	overflow: hidden;
	clear: left;
	//background-color:#00FFF0;

}


.ft-col-2 {
	padding-top: 12px;
	//background-color:#0000FF;
	&:before {
		display: table;
		content: " "
	}
	margin-left: $col1Width;
	width: $col2Width;
	overflow: hidden;
	//background-color:#888888;
	&:after {
		clear: both;
	}
}



.ft-header {
	height: $headerHeight;
	overflow: hidden;
	display: block;
	//background-color: #FF0000;
	width: 1440px;
	.ft-col-2 {
		position: relative;
		height: 100%;
		//padding-right: 35px;
		width: 460px;
		& > div  {
			position: absolute;
			bottom: 0;
			
			//border: 10px solid #FFF000;
			//background-color:#FF0000;

		}
	}
	p {
		font-size: 15px;
	}
}

.ft-content {
	//border: 10px solid $grisclair;
	position: absolute;
	//background-color: #00FF00;
	top: ($headerHeight+1);
	width: 1440px;
	left :0;


	.ft-col-1 {
		padding-left: 20px;
		border-left: 20px solid $grisclair;
		border-top: 20px solid $grisclair;
		border-bottom: 20px solid $grisclair;
		height: $colHeight;
	}

	.ft-col-2 {
		padding-top: 0;
		border-right: 20px solid $grisclair;
		//border-top: 20px solid $grisfonce;
		border-bottom: 20px solid $grisclair;
		> div:first-child {
			border-top: 20px solid $grisfonce;
		}
		height: $colHeight;
	}

}





.dl-horizontal {
	th,td {
		//margin-bottom: 15px;
		//font-family: "DIN-Regular"; 
		font-weight: 400;
		padding: 10px 0;
		vertical-align : top;
		color:#1c1c1b;
	

	}
	th {
		margin-bottom: 15px;
		font-family: "Helveticaneue-light-webfont"; 
		text-align: left;
		border-bottom : 5px solid #C6c6c6;
		padding-right : 20px;
		width: 240px;

		
	} 
	td {
		padding-left : 20px;
		padding-right : 20px;
		padding-top: 13px;
		//margin-left: 220px;
		//width: 200px;
	}

}

.ft-col-2 {
	th {
		max-width: 240px;
		width: 240px;
		text-overflow: ellipsis;
		//background-color:#FF0000;
	}
}

.ft-logo {
	height: 100px;
	width: auto;
	padding: 10px 20px 20px 0px;
}